@import "../../global.scss";
@import "../../responsive.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px;
  background: #f2f8ff;

  .left {
    img {
      height: 29px;
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    a {
      padding: 10px;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      text-align: center;
      color: $mainColor;

      @include lg {
        transition: all 0.4 ease;
        font-size: 12px;
        padding: 4px;
      }

      @include md {
        display: none;
      }
    }

    .menuIcon {
      display: none;
      z-index: 999;

      &.active {
        filter: invert(99%) sepia(100%) saturate(16%) hue-rotate(236deg)
          brightness(104%) contrast(100%);
      }

      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }

      @include md {
        display: initial;
      }
    }
  }

  .menu {
    position: absolute;
    top: 0;
    right: -50%;
    background-color: black;
    color: white;
    height: 100vh;
    width: 50%;
    transition: all 1s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      padding: 15px;
      font-size: 24px;
      font-weight: bold;
      color: white;
    }

    @include md {
      a {
        display: initial;
      }
    }

    &.active {
      right: 0;
    }
  }
}
