nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px 24px 0px 20px;
  background: #161829;
  color: white;

  .left {
    display: flex;
    gap: 20px;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    a {
      line-height: 24px;
      padding: 4px 12px 4px 12px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 700;
    }

    .searchButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      padding: 10px;
      border: none;
      background-color: white;
      color: #161829;
      cursor: pointer;
    }

    .searchWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #161829;
      color: white;
      width: 300px;
      border-radius: 50px;
      border: 1px solid #7d87aa;
      padding: 7px 14px;
    }

    .searchLeft {
      display: flex;
      flex: 1;
      align-items: center;

      .magnifyIcon {
        width: 16px;
        height: 16px;
        color: #7d87aa;
        cursor: pointer;
      }

      .searchInput {
        width: 100%;
        background: none;
        border: none;
        outline: none;
        margin-left: 10px;
        color: #7d87aa;
      }
    }

    .xMarkIcon {
      color: #7d87aa;
      cursor: pointer;
    }

    .pricing {
      background-color: white;
      color: #161829;
    }

    .plan {
      background-color: #7d87aa;
      color: white;
    }

    .login {
      color: white;
      border: 2px solid white;
    }
  }
}
